
@{
    ViewBag.Title = "Contacts";
}
<br />
<div class="row text-center">
    <div class="col-md-12">
        <h2>Контакты</h2>
        <hr />
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6">
        <img class="img-thumbnail" src="~/Content/Images/makar.jpg" />
    </div>
    <div class="col-md-4 m-auto">
        <h2>MAKAR NOSOV</h2>
        <br />
        <h5 class="align-middle">
        Тел.: 0630000000
        <br />
        E-mail: <a href="makarnosov.1973@gmail.com" style="color: black">makarnosov.1973@gmail.com</a>
        <br />
        или
        <br />
            <a href="@Url.Action("Home", "Order")" class="nav-link">
                Сделать заказ на сайте
            </a>
        </h5>
    </div>
    <div class="col-md-2"></div>
</div>
