@model ClockRestoration.ViewModels.ResponseGalleryEditorView

<link href="@Url.Content("~/Content/Images/gallery.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row mt-5">

        @foreach (var gallery in Model.Galleries)
        {
            <div class="col-md-4 col-sm-4 hovereffect">
                <figure class="effect-bubba">
                    <img src="~/@gallery.MainImageUrl">
                    <figcaption>
                        <p>@gallery.Title</p>
                        <a class="nav-link" href="@Url.Action("GalleryDetails", "Home", new { galleryId = gallery.Id })">
                        </a>
                    </figcaption>
                </figure>
            </div>
        }
    </div>
</div>