@model ClockRestoration.ViewModels.ResponseGalleryDetailsView
<div class="container">
    <h2 class="reg font-weight-normal text-center page-name reg-page">@Model.Gallery.Title часы </h2>
    <div class="row">
        <div class="col-md-12">
            @foreach (var photo in Model.Photos)
            {
                <img class="gallery-photo" src="~/@photo.ImageUrl" width="365" height="250" />
            }

        </div>
    </div>
</div>



